<div class="container pt-md-1 bg-dark my-5 py-4 px-4">
      <div class="row py-3">
        <div class="col-xl-8">
          <h1 class="bd-title mt-0 text-light my-4">Dados do Administrador</h1>
          <p class="bd-lead text-light my-4">Aqui você administrador terá como ver seus usuarios cadastrados por você em especial!</p>

          <div class="d-flex flex-column flex-sm-row ">
            <%= link_to 'Usuários Cadastrado', admin_list_path, class:"btn btn-lg btn-success" %>
          </div>

        </div>
        <div class="col-xl-4 d-lg-flex justify-content-xl-end">
          <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom" id="_carbonads_js"></script>

        </div>
      </div>
</div>
