<h1 class="px-5 mb-3 fw-normal"><%= User.model_name.human(count: User.count)%></h1>

<div class="container d-block mx-5">
  <%= render 'form', user: @user %>
  <%= link_to t('links.back'), users_path, class:'btn btn-dark'%>
</div>
